{% load static %}
{% load answers_tag %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Да или Нет</title>
    <link rel="stylesheet" href="{% static "main/css/style.css" %}">
    <link rel="stylesheet" href="{% static "main/css/media.css" %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "main/images/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png"  sizes="180x180" href="{% static "main/images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png"  sizes="180x180" href="{% static "main/images/favicon-16x16.png" %}">
</head>
<body>
    <div class="page">
        <header>
            <div class="header-title">Да или Нет</div>
            <div class="logo">
                <img src="{% static "main/images/logo.png" %}" alt="yes/not">
            </div>
        </header>
        <section>
            <form method="POST" name='question'>
                {% csrf_token %}
                {% for f in form %}
                {{ f }}
                {% endfor %}
                <button class="form-btn">Отправить</button>
            </form>
            <div class="total-answers">
                Количество вопросов за всё время: {{ count }}
            </div>
            {% if current_answers %}
            {% for current in current_answers %}
            {% if forloop.last %}
            <div class="current-card"
            {% if current.answer %}
            style='background-color: rgba(116, 216, 116, 0.747);'
            {% else %}
            style='background-color: rgba(255, 32, 32, 0.747);'
            {% endif %}>
                <div class="question-and-date">
                    <div class="question">{{ current.question }}</div>
                    <div class="date">
                        {{current.time_create|date:"d.m.Y"}}
                    </div>
                </div>
                <div class="answer">{% if current.answer %}Да{% else %}Нет{% endif %}</div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <p>История вопросов:</p>
            <div class="lst-answers">
                {% list_answers as answers %}
                {% for answer in answers %}
                <div class="card"
                {% if answer.answer %}
                style='background-color: rgba(116, 216, 116, 0.747);'
                {% else %}
                style='background-color: rgba(255, 32, 32, 0.747);'
                {% endif %}>
                    <div class="question-and-date">
                        <div class="question">{{ answer.question }}</div>
                        <div class="date">
                            {{ answer.time_create|date:"d.m.Y" }}
                        </div>
                    </div>
                    <div class="answer">{% if answer.answer %}Да{% else %}Нет{% endif %}</div>
                </div>
                {% endfor %}
            </div>
        </section>
        <footer>
            <div class="footer-description">
                Данный сайт не предоставляет достоверные ответы на ваши вопросы.
                Ресурс создан исключиетльно в развлекательных целях!
                <p>&#xa9; 2024</p>
            </div>
        </footer>
    </div>
</body>
</html>